# Script

In [1]:
import pandas as pd
import statistics as sts

In [2]:
dataset = pd.read_csv("table.csv")
dataset

,Carimbo de data/hora,Digite seu Nick,Selecione sua classe,Digite seu IP,Você tem MOR?
0,2025/02/26 9:23:05 AM GMT-3,Teu pai mlk,Quebra-Reinos,2600,Não
1,2025/02/26 9:24:22 AM GMT-3,Programudinho,Arcano Elevado,1500,Sim
2,2025/02/26 9:24:42 AM GMT-3,Yololo,Raiz Férrea,Abestado,Não
3,2025/02/26 9:30:52 AM GMT-3,Apoteca,Off Tank,1883,Não
4,2025/02/26 9:31:09 AM GMT-3,Pappalegas,Off Tank,Abestado 123,Sim
5,2025/02/26 9:31:35 AM GMT-3,Popai,Off Tank,1448,Sim
6,2025/02/26 9:31:50 AM GMT-3,OPalanga,Off Tank,1231823,Não
7,2025/02/26 9:32:11 AM GMT-3,900ze,Off Tank,2000,Não
8,2025/02/26 9:32:46 AM GMT-3,Pato,Off Tank,1764,Sim
9,2025/02/26 9:41:06 AM GMT-3,Fella,Off Tank,1500,Não
10,2025/02/26 9:43:16 AM GMT-3,SuibianBrat,Main Healer,2060,Não
11,2025/02/26 9:48:18 AM GMT-3,phintão,Off Tank,2800,Sim

In [3]:
dataset = dataset.drop('Carimbo de data/hora', axis=1)

In [4]:
offtank = dataset.query("`Selecione sua classe` == 'Off Tank'").copy()
offtank['Digite seu IP'] = pd.to_numeric(offtank['Digite seu IP'], errors='coerce')

offtank.loc[offtank['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
offtank.loc[offtank['Digite seu IP'].isna(), 'Digite seu IP'] = -1
offtank.loc[offtank['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

offtank = offtank.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

offtank

   Digite seu Nick Selecione sua classe  Digite seu IP Você tem MOR?
8             Pato             Off Tank         1764.0           Sim
5            Popai             Off Tank         1448.0           Sim
7            900ze             Off Tank         2000.0           Não
3          Apoteca             Off Tank         1883.0           Não
9            Fella             Off Tank         1500.0           Não
6         OPalanga             Off Tank            0.0           Não
11         phintão             Off Tank            0.0           Não
4       Pappalegas             Off Tank           -1.0           Não

In [5]:
elevado = dataset.query("`Selecione sua classe` == 'Arcano Elevado'").copy()
elevado['Digite seu IP'] = pd.to_numeric(elevado['Digite seu IP'], errors='coerce')

elevado.loc[elevado['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
elevado.loc[elevado['Digite seu IP'].isna(), 'Digite seu IP'] = -1
elevado.loc[elevado['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

elevado = elevado.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

elevado

  Digite seu Nick Selecione sua classe  Digite seu IP Você tem MOR?
1   Programudinho       Arcano Elevado           1500           Sim

In [6]:
silence = dataset.query("`Selecione sua classe` == 'Arcano Silence'").copy()
silence['Digite seu IP'] = pd.to_numeric(silence['Digite seu IP'], errors='coerce')

silence.loc[silence['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
silence.loc[silence['Digite seu IP'].isna(), 'Digite seu IP'] = -1
silence.loc[silence['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

silence = silence.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

silence

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [7]:
mainHeal = dataset.query("`Selecione sua classe` == 'Main Healer'").copy()
mainHeal['Digite seu IP'] = pd.to_numeric(mainHeal['Digite seu IP'], errors='coerce')

mainHeal.loc[mainHeal['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
mainHeal.loc[mainHeal['Digite seu IP'].isna(), 'Digite seu IP'] = -1
mainHeal.loc[mainHeal['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

mainHeal = mainHeal.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

mainHeal

   Digite seu Nick Selecione sua classe  Digite seu IP Você tem MOR?
10    SuibianBrat           Main Healer           2060           Não

In [8]:
raiz = dataset.query("`Selecione sua classe` == 'Raiz Férrea'").copy()
raiz['Digite seu IP'] = pd.to_numeric(raiz['Digite seu IP'], errors='coerce')

raiz.loc[raiz['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
raiz.loc[raiz['Digite seu IP'].isna(), 'Digite seu IP'] = -1
raiz.loc[raiz['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

raiz = raiz.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

raiz

  Digite seu Nick Selecione sua classe  Digite seu IP Você tem MOR?
2          Yololo          Raiz Férrea           -1.0           Não

In [9]:
quebra = dataset.query("`Selecione sua classe` == 'Quebra-Reinos'").copy()
quebra['Digite seu IP'] = pd.to_numeric(quebra['Digite seu IP'], errors='coerce')

quebra.loc[quebra['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
quebra.loc[quebra['Digite seu IP'].isna(), 'Digite seu IP'] = -1
quebra.loc[quebra['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

quebra = quebra.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

quebra

  Digite seu Nick Selecione sua classe  Digite seu IP Você tem MOR?
0     Teu pai mlk        Quebra-Reinos              0           Não

In [10]:
Bruxo = dataset.query("`Selecione sua classe` == 'Bruxo'").copy()
Bruxo['Digite seu IP'] = pd.to_numeric(Bruxo['Digite seu IP'], errors='coerce')

Bruxo.loc[Bruxo['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
Bruxo.loc[Bruxo['Digite seu IP'].isna(), 'Digite seu IP'] = -1
Bruxo.loc[Bruxo['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

Bruxo = Bruxo.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

Bruxo

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [11]:
frost = dataset.query("`Selecione sua classe` == 'Frost'").copy()
frost['Digite seu IP'] = pd.to_numeric(frost['Digite seu IP'], errors='coerce')

frost.loc[frost['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
frost.loc[frost['Digite seu IP'].isna(), 'Digite seu IP'] = -1
frost.loc[frost['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

frost = frost.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

frost

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [12]:
fire = dataset.query("`Selecione sua classe` == 'Fire'").copy()
fire['Digite seu IP'] = pd.to_numeric(fire['Digite seu IP'], errors='coerce')

fire.loc[fire['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
fire.loc[fire['Digite seu IP'].isna(), 'Digite seu IP'] = -1
fire.loc[fire['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

fire = fire.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

fire

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [13]:
xbow = dataset.query("`Selecione sua classe` == 'Xbow'").copy()
xbow['Digite seu IP'] = pd.to_numeric(xbow['Digite seu IP'], errors='coerce')

xbow.loc[xbow['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
xbow.loc[xbow['Digite seu IP'].isna(), 'Digite seu IP'] = -1
xbow.loc[xbow['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

xbow = xbow.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

xbow

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [14]:
aguia = dataset.query("`Selecione sua classe` == 'Águia'").copy()
aguia['Digite seu IP'] = pd.to_numeric(aguia['Digite seu IP'], errors='coerce')

aguia.loc[aguia['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
aguia.loc[aguia['Digite seu IP'].isna(), 'Digite seu IP'] = -1
aguia.loc[aguia['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

aguia = aguia.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

aguia

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [15]:
incubus = dataset.query("`Selecione sua classe` == 'Íncubus'").copy()
incubus['Digite seu IP'] = pd.to_numeric(incubus['Digite seu IP'], errors='coerce')

incubus.loc[incubus['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
incubus.loc[incubus['Digite seu IP'].isna(), 'Digite seu IP'] = -1
incubus.loc[incubus['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

incubus = incubus.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

incubus

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [16]:
oculto = dataset.query("`Selecione sua classe` == 'Oculto'").copy()
oculto['Digite seu IP'] = pd.to_numeric(oculto['Digite seu IP'], errors='coerce')

oculto.loc[oculto['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
oculto.loc[oculto['Digite seu IP'].isna(), 'Digite seu IP'] = -1
oculto.loc[oculto['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

oculto = oculto.sort_values(by=["Você tem MOR?", "Digite seu IP"], ascending=[False, False])

oculto

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem MOR?]
Index: []

In [17]:
dataset_final = pd.concat([offtank, elevado, silence, mainHeal, raiz, quebra, Bruxo, frost, fire, xbow, aguia, incubus, oculto], ignore_index=True)

dataset_final.rename(columns={"Digite seu Nick": "Nick", "Digite seu IP": "IP", "Selecione sua classe": "Classe", "Você tem MOR?": "MOR"}, inplace=True)


dataset_final

             Nick          Classe      IP  MOR
0            Pato        Off Tank  1764.0  Sim
1           Popai        Off Tank  1448.0  Sim
2           900ze        Off Tank  2000.0  Não
3         Apoteca        Off Tank  1883.0  Não
4           Fella        Off Tank  1500.0  Não
5        OPalanga        Off Tank     0.0  Não
6         phintão        Off Tank     0.0  Não
7      Pappalegas        Off Tank    -1.0  Não
8   Programudinho  Arcano Elevado  1500.0  Sim
9    SuibianBrat      Main Healer  2060.0  Não
10         Yololo     Raiz Férrea    -1.0  Não
11    Teu pai mlk   Quebra-Reinos     0.0  Não