# Script

In [22]:
import pandas as pd
import statistics as sts

In [23]:
dataset = pd.read_csv("FormsAva.csv")
dataset

,Carimbo de data/hora,Digite seu Nick,Selecione sua classe,Digite seu IP,Você tem tag X?,Você tem MOR?
0,2025/04/05 11:41:36 PM GMT-3,SrMamutinho,Xbow,2322,Sim,Sim
1,2025/04/05 11:41:46 PM GMT-3,tchescoslayer,Xbow,2085,Sim,Não
2,2025/04/05 11:41:50 PM GMT-3,DrLISA,Xbow,1740,Não,Não
3,2025/04/05 11:41:51 PM GMT-3,sunrakko,Xbow,1923,Sim,Sim
4,2025/04/05 11:41:54 PM GMT-3,Topera01,Xbow,2100,Sim,Não
5,2025/04/05 11:42:11 PM GMT-3,GianX08,Xbow,2452,Não,Sim
6,2025/04/05 11:42:22 PM GMT-3,Vitor lindo cheiroso,Xbow,1269,Não,Sim
7,2025/04/05 11:42:36 PM GMT-3,Pipotam,Bruxo,Sla bro,Sim,Não
8,2025/04/05 11:43:43 PM GMT-3,Arretias,Xbow,1450,Não,Não

In [24]:
dataset = dataset.drop('Carimbo de data/hora', axis=1)

In [25]:
offtank = dataset.query("`Selecione sua classe` == 'Off Tank'").copy()
offtank['Digite seu IP'] = pd.to_numeric(offtank['Digite seu IP'], errors='coerce')

offtank.loc[offtank['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
offtank.loc[offtank['Digite seu IP'].isna(), 'Digite seu IP'] = -1
offtank.loc[offtank['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

offtank = offtank.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

offtank

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [26]:
elevado = dataset.query("`Selecione sua classe` == 'Arcano Elevado'").copy()
elevado['Digite seu IP'] = pd.to_numeric(elevado['Digite seu IP'], errors='coerce')

elevado.loc[elevado['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
elevado.loc[elevado['Digite seu IP'].isna(), 'Digite seu IP'] = -1
elevado.loc[elevado['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

elevado = elevado.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

elevado

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [27]:
silence = dataset.query("`Selecione sua classe` == 'Arcano Silence'").copy()
silence['Digite seu IP'] = pd.to_numeric(silence['Digite seu IP'], errors='coerce')

silence.loc[silence['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
silence.loc[silence['Digite seu IP'].isna(), 'Digite seu IP'] = -1
silence.loc[silence['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

silence = silence.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

silence

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [28]:
mainHeal = dataset.query("`Selecione sua classe` == 'Main Healer'").copy()
mainHeal['Digite seu IP'] = pd.to_numeric(mainHeal['Digite seu IP'], errors='coerce')

mainHeal.loc[mainHeal['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
mainHeal.loc[mainHeal['Digite seu IP'].isna(), 'Digite seu IP'] = -1
mainHeal.loc[mainHeal['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

mainHeal = mainHeal.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

mainHeal

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [29]:
raiz = dataset.query("`Selecione sua classe` == 'Raiz Férrea'").copy()
raiz['Digite seu IP'] = pd.to_numeric(raiz['Digite seu IP'], errors='coerce')

raiz.loc[raiz['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
raiz.loc[raiz['Digite seu IP'].isna(), 'Digite seu IP'] = -1
raiz.loc[raiz['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

raiz = raiz.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

raiz

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [30]:
quebra = dataset.query("`Selecione sua classe` == 'Quebra-Reinos'").copy()
quebra['Digite seu IP'] = pd.to_numeric(quebra['Digite seu IP'], errors='coerce')

quebra.loc[quebra['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
quebra.loc[quebra['Digite seu IP'].isna(), 'Digite seu IP'] = -1
quebra.loc[quebra['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

quebra = quebra.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

quebra

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [31]:
Bruxo = dataset.query("`Selecione sua classe` == 'Bruxo'").copy()
Bruxo['Digite seu IP'] = pd.to_numeric(Bruxo['Digite seu IP'], errors='coerce')

Bruxo.loc[Bruxo['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
Bruxo.loc[Bruxo['Digite seu IP'].isna(), 'Digite seu IP'] = -1
Bruxo.loc[Bruxo['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

Bruxo = Bruxo.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

Bruxo

,Digite seu Nick,Selecione sua classe,Digite seu IP,Você tem tag X?,Você tem MOR?
7,Pipotam,Bruxo,-1.0,Sim,Não

In [32]:
frost = dataset.query("`Selecione sua classe` == 'Frost'").copy()
frost['Digite seu IP'] = pd.to_numeric(frost['Digite seu IP'], errors='coerce')

frost.loc[frost['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
frost.loc[frost['Digite seu IP'].isna(), 'Digite seu IP'] = -1
frost.loc[frost['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

frost = frost.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

frost

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [33]:
fire = dataset.query("`Selecione sua classe` == 'Fire'").copy()
fire['Digite seu IP'] = pd.to_numeric(fire['Digite seu IP'], errors='coerce')

fire.loc[fire['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
fire.loc[fire['Digite seu IP'].isna(), 'Digite seu IP'] = -1
fire.loc[fire['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

fire = fire.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

fire

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [34]:
xbow = dataset.query("`Selecione sua classe` == 'Xbow'").copy()
xbow['Digite seu IP'] = pd.to_numeric(xbow['Digite seu IP'], errors='coerce')

xbow.loc[xbow['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
xbow.loc[xbow['Digite seu IP'].isna(), 'Digite seu IP'] = -1
xbow.loc[xbow['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

xbow = xbow.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

xbow

,Digite seu Nick,Selecione sua classe,Digite seu IP,Você tem tag X?,Você tem MOR?
0,SrMamutinho,Xbow,2322,Sim,Sim
3,sunrakko,Xbow,1923,Sim,Sim
5,GianX08,Xbow,2452,Não,Sim
6,Vitor lindo cheiroso,Xbow,1269,Não,Sim
4,Topera01,Xbow,2100,Sim,Não
1,tchescoslayer,Xbow,2085,Sim,Não
2,DrLISA,Xbow,1740,Não,Não
8,Arretias,Xbow,1450,Não,Não

In [35]:
aguia = dataset.query("`Selecione sua classe` == 'Águia'").copy()
aguia['Digite seu IP'] = pd.to_numeric(aguia['Digite seu IP'], errors='coerce')

aguia.loc[aguia['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
aguia.loc[aguia['Digite seu IP'].isna(), 'Digite seu IP'] = -1
aguia.loc[aguia['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

aguia = aguia.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

aguia

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [36]:
incubus = dataset.query("`Selecione sua classe` == 'Íncubus'").copy()
incubus['Digite seu IP'] = pd.to_numeric(incubus['Digite seu IP'], errors='coerce')

incubus.loc[incubus['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
incubus.loc[incubus['Digite seu IP'].isna(), 'Digite seu IP'] = -1
incubus.loc[incubus['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

incubus = incubus.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

incubus

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [37]:
oculto = dataset.query("`Selecione sua classe` == 'Oculto'").copy()
oculto['Digite seu IP'] = pd.to_numeric(oculto['Digite seu IP'], errors='coerce')

oculto.loc[oculto['Digite seu IP'] > 2500, 'Digite seu IP'] = 0
oculto.loc[oculto['Digite seu IP'].isna(), 'Digite seu IP'] = -1
oculto.loc[oculto['Digite seu IP'] <= 0, 'Você tem MOR?'] = 'Não'

oculto = oculto.sort_values(by=["Você tem MOR?", "Você tem tag X?", "Digite seu IP"], ascending=[False, False, False])

oculto

Empty DataFrame
Columns: [Digite seu Nick, Selecione sua classe, Digite seu IP, Você tem tag X?, Você tem MOR?]
Index: []

In [38]:
dataset_final = pd.concat([offtank, elevado, silence, mainHeal, raiz, quebra, Bruxo, frost, fire, xbow, aguia, incubus, oculto], ignore_index=True)

dataset_final.rename(columns={"Digite seu Nick": "Nick", "Digite seu IP": "IP", "Selecione sua classe": "Classe", "Você tem tag X?": "X", "Você tem MOR?": "MOR"}, inplace=True)


dataset_final

                    Nick Classe      IP    X  MOR
0                Pipotam  Bruxo    -1.0  Sim  Não
1           SrMamutinho    Xbow  2322.0  Sim  Sim
2               sunrakko   Xbow  1923.0  Sim  Sim
3                GianX08   Xbow  2452.0  Não  Sim
4  Vitor lindo cheiroso    Xbow  1269.0  Não  Sim
5               Topera01   Xbow  2100.0  Sim  Não
6          tchescoslayer   Xbow  2085.0  Sim  Não
7                 DrLISA   Xbow  1740.0  Não  Não
8               Arretias   Xbow  1450.0  Não  Não